/target
/classes
/checkouts
/examples/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
*.iml
/.lein-*
/.nrepl-port
*~
/.idea
*.iml
/test-resources/tmp/
/resources/locales.clj

# Stores local files used by developers
/eng-resources
/dev-resources/i18n/bin
